{% extends 'base.html' %}
{% block content %}
	{% load static %}
	<div class="tech-info">
		<div class="tech-detail">
			<div class="tech-row">
				<div class="tech-type">
					Стек технологий:
				</div>
				<div class="tech-val">
					HTML, CSS, Python, Django
				</div>
			</div>
			<div class="tech-row">
				<div class="tech-type">
					WEB:
				</div>
				<div class="tech-val">
					https://www....
				</div>
			</div>
			<div class="tech-row">
				<div class="tech-type">
					Github:
				</div>
				<div class="tech-val">
					https://github.com/serkonon/skillfactory-module-d6-kononov
				</div>
			</div>
		</div>
	</div>
{% endblock %}
